# **LAB 7: Working with the public data**

In [1]:
!pip install openml

Collecting openml
  Downloading openml-0.15.1-py3-none-any.whl.metadata (10 kB)
Collecting liac-arff>=2.4.0 (from openml)
  Downloading liac-arff-2.5.0.tar.gz (13 kB)
  Preparing metadata (setup.py) ... one
Collecting xmltodict (from openml)
  Downloading xmltodict-1.0.2-py3-none-any.whl.metadata (15 kB)
Requirement already satisfied: requests in /home/iren/anaconda3/lib/python3.13/site-packages (from openml) (2.32.3)
Requirement already satisfied: scikit-learn>=0.18 in /home/iren/anaconda3/lib/python3.13/site-packages (from openml) (1.6.1)
Requirement already satisfied: python-dateutil in /home/iren/anaconda3/lib/python3.13/site-packages (from openml) (2.9.0.post0)
Requirement already satisfied: pandas>=1.0.0 in /home/iren/anaconda3/lib/python3.13/site-packages (from openml) (2.2.3)
Requirement already satisfied: scipy>=0.13.3 in /home/iren/anaconda3/lib/python3.13/site-packages (from openml) (1.15.3)
Requirement already satisfied: numpy>=1.6.2 in /home/iren/anaconda3/lib/python3.13/site-packages (from openml) (2.1.3)
Collecting minio (from openml)
  Downloading minio-7.2.18-py3-none-any.whl.metadata (6.5 kB)
Requirement already satisfied: pyarrow in /home/iren/anaconda3/lib/python3.13/site-packages (from openml) (19.0.0)
Requirement already satisfied: tqdm in /home/iren/anaconda3/lib/python3.13/site-packages (from openml) (4.67.1)
Requirement already satisfied: packaging in /home/iren/anaconda3/lib/python3.13/site-packages (from openml) (24.2)
Requirement already satisfied: pytz>=2020.1 in /home/iren/anaconda3/lib/python3.13/site-packages (from pandas>=1.0.0->openml) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /home/iren/anaconda3/lib/python3.13/site-packages (from pandas>=1.0.0->openml) (2025.2)
Requirement already satisfied: six>=1.5 in /home/iren/anaconda3/lib/python3.13/site-packages (from python-dateutil->openml) (1.17.0)
Requirement already satisfied: joblib>=1.2.0 in /home/iren/anaconda3/lib/python3.13/site-packages (from scikit-learn>=0.18->openml) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in /home/iren/anaconda3/lib/python3.13/site-packages (from scikit-learn>=0.18->openml) (3.5.0)
Requirement already satisfied: argon2-cffi in /home/iren/anaconda3/lib/python3.13/site-packages (from minio->openml) (21.3.0)
Requirement already satisfied: certifi in /home/iren/anaconda3/lib/python3.13/site-packages (from minio->openml) (2025.11.12)
Collecting pycryptodome (from minio->openml)
  Downloading pycryptodome-3.23.0-cp37-abi3-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (3.4 kB)
Requirement already satisfied: typing-extensions in /home/iren/anaconda3/lib/python3.13/site-packages (from minio->openml) (4.15.0)
Requirement already satisfied: urllib3 in /home/iren/anaconda3/lib/python3.13/site-packages (from minio->openml) (2.5.0)
Requirement already satisfied: argon2-cffi-bindings in /home/iren/anaconda3/lib/python3.13/site-packages (from argon2-cffi->minio->openml) (21.2.0)
Requirement already satisfied: cffi>=1.0.1 in /home/iren/anaconda3/lib/python3.13/site-packages (from argon2-cffi-bindings->argon2-cffi->minio->openml) (1.17.1)
Requirement already satisfied: pycparser in /home/iren/anaconda3/lib/python3.13/site-packages (from cffi>=1.0.1->argon2-cffi-bindings->argon2-cffi->minio->openml) (2.21)
Requirement already satisfied: charset-normalizer<4,>=2 in /home/iren/anaconda3/lib/python3.13/site-packages (from requests->openml) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /home/iren/anaconda3/lib/python3.13/site-packages (from requests->openml) (3.7)
Downloading openml-0.15.1-py3-none-any.whl (160 kB)
Downloading minio-7.2.18-py3-none-any.whl (93 kB)
Downloading pycryptodome-3.23.0-cp37-abi3-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (2.3 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.3/2.3 MB 2.0 MB/s eta 0:00:00 MB/s eta 0:00:01
Downloading xmltodict-1.0.2-py3-none-any.whl (13 kB)
Building wheels for collected packages: liac-arff
  DEPRECATION: Building 'liac-arff' using the legacy setup.py bdist_wheel mechanism, which will be removed in a future version. pip 25.3 will enforce this behaviour change. A possible replacement is to use the standardized build interface by setting the `--use-pep517` option, (possibly combined with `--no-build-isolation`), or adding a `pyproject.toml` file to the source tree of 'liac-arff'. Discussion can be found at https://github.com/pypa/pip/issues/6334
  Building wheel for liac-arff (setup.py) ... one
  Created wheel for liac-arff: filename=liac_arff-2.5.0-py3-none-any.whl size=11717 sha256=b892642087977a8656a26c5d561cba5196bc1f6be18bb60442c7d16b17ce3722
  Stored in directory: /home/iren/.cache/pip/wheels/93/f3/5b/658a9bddee916a5f4b84bdc1a4e0fabd22fb17947c2c9542e6
Successfully built liac-arff
Installing collected packages: xmltodict, pycryptodome, liac-arff, minio, openml
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 5/5 [openml]━━━━ 4/5 [openml]odome]
Successfully installed liac-arff-2.5.0 minio-7.2.18 openml-0.15.1 pycryptodome-3.23.0 xmltodict-1.0.2

## TASKS

Assignment #1 (demo)
Exploratory data analysis with Pandas

In this task you should use Pandas to answer a few questions about the Adult dataset. (You don't have to download the data – it's already here). Choose the answers in the web-form. This is a demo version of an assignment, so by submitting the form, you'll see a link to the solution .ipynb file.

Unique values of all features (for more information, please see the links above):

    age: continuous.
    workclass: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.
    fnlwgt: continuous.
    education: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.
    education-num: continuous.
    marital-status: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
    occupation: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
    relationship: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.
    race: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.
    sex: Female, Male.
    capital-gain: continuous.
    capital-loss: continuous.
    hours-per-week: continuous.
    native-country: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.
    salary: >50K,<=50K

import pandas as pd

data = pd.read_csv('../input/adult.data.csv')
data.head()

	age 	workclass 	fnlwgt 	education 	education-num 	marital-status 	occupation 	relationship 	race 	sex 	capital-gain 	capital-loss 	hours-per-week 	native-country 	salary
0 	39 	State-gov 	77516 	Bachelors 	13 	Never-married 	Adm-clerical 	Not-in-family 	White 	Male 	2174 	0 	40 	United-States 	<=50K
1 	50 	Self-emp-not-inc 	83311 	Bachelors 	13 	Married-civ-spouse 	Exec-managerial 	Husband 	White 	Male 	0 	0 	13 	United-States 	<=50K
2 	38 	Private 	215646 	HS-grad 	9 	Divorced 	Handlers-cleaners 	Not-in-family 	White 	Male 	0 	0 	40 	United-States 	<=50K
3 	53 	Private 	234721 	11th 	7 	Married-civ-spouse 	Handlers-cleaners 	Husband 	Black 	Male 	0 	0 	40 	United-States 	<=50K
4 	28 	Private 	338409 	Bachelors 	13 	Married-civ-spouse 	Prof-specialty 	Wife 	Black 	Female 	0 	0 	40 	Cuba 	<=50K

1. How many men and women (sex feature) are represented in this dataset?


2. What is the average age (age feature) of women?


3. What is the percentage of German citizens (native-country feature)?


4-5. What are the mean and standard deviation of age for those who earn more than 50K per year (salary feature) and those who earn less than 50K per year?


6. Is it true that people who earn more than 50K have at least high school education? (education – Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters or Doctorate feature)

7. Display age statistics for each race (race feature) and each gender (sex feature). Use groupby() and describe(). Find the maximum age of men of Amer-Indian-Eskimo race.

8. Among whom is the proportion of those who earn a lot (>50K) greater: married or single men (marital-status feature)? Consider as married those who have a marital-status starting with Married (Married-civ-spouse, Married-spouse-absent or Married-AF-spouse), the rest are considered bachelors.

9. What is the maximum number of hours a person works per week (hours-per-week feature)? How many people work such a number of hours, and what is the percentage of those who earn a lot (>50K) among them?

10. Count the average time of work (hours-per-week) for those who earn a little and a lot (salary) for each country (native-country). What will these be for Japan?

## TASK 1: import the dataset

In [15]:
share_url = "https://drive.google.com/file/d/1U_CSIE9CxV4M8XbWoiVANFsbekm6CXmg/view?usp=sharing"
download_url="https://drive.google.com/uc?export=download&id="+share_url.split("/")[-2]
print(download_url)

data = pd.read_csv(download_url)

data.head()

https://drive.google.com/uc?export=download&id=1U_CSIE9CxV4M8XbWoiVANFsbekm6CXmg

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [16]:
import pandas as pd
# 1. How many men and women?
data['sex'].value_counts()

print("Men:", (data['sex'] == 'Male').sum())
print("Women:", (data['sex'] == 'Female').sum())

Men: 32650
Women: 16192

In [17]:
# 2. What is the average age of women?
women_avg_age = data[data['sex'] == 'Female']['age'].mean()
print("Average ago of women:", women_avg_age)

Average ago of women: 36.92798913043478

In [18]:
# 3. What is the percentage of German citizens?
german_percentage = (data['native-country'] == 'Germany').mean() * 100
print("German citizens:", german_percentage, "%")

German citizens: 0.421768150362393 %

In [24]:
#4-5. What are the mean and standard deviation of age for those who earn more than 50K per year (salary feature) and those who earn less than 50K per year?
age_stats = data.groupby('income')['age'].agg(['mean', 'std'])
print(age_stats)

print(" >50K:", age_stats.loc['>50K', 'mean'], 
      "std:", age_stats.loc['>50K', 'std'])
print("<=50K:", age_stats.loc['<=50K', 'mean'], 
      "std:", age_stats.loc['<=50K', 'std'])

             mean        std
income
<=50K   36.783738  14.020088
<=50K.  37.048010  14.268633
>50K    44.249841  10.519028
>50K.   44.326833  10.641164
 >50K: 44.24984058155847 std: 10.519027719851843
<=50K: 36.78373786407767 std: 14.020088490824866

In [26]:
#6. Is it true that people who earn more than 50K have at least high school education? (education – Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters or Doctorate feature)

high_education = ['Bachelors', 'Prof-school', 'Assoc-acdm', 'Assoc-voc', 'Masters', 'Doctorate']
high_earners = data[data['income'] == '>50K']
print("Is it true that people who earn more than 50K have at least high school education?", high_earners['education'].isin(high_education).all())

Is it true that people who earn more than 50K have at least high school education? False

In [28]:
#7. Display age statistics for each race (race feature) and each gender (sex feature). Use groupby() and describe(). Find the maximum age of men of Amer-Indian-Eskimo race.
age_by_race_sex = data.groupby(['race', 'sex'])['age'].describe()
print(age_by_race_sex)

max_age_amer_indian_male = data[(data['race'] == 'Amer-Indian-Eskimo') & (data['sex'] == 'Male')]['age'].max()
print("MAX age of men of Amer-Indian-Eskimo:", max_age_amer_indian_male)

                             count       mean        std   min   25%   50%  \
race               sex
Amer-Indian-Eskimo Female    185.0  36.237838  12.840056  17.0  26.0  35.0
                   Male      285.0  36.989474  11.703943  17.0  29.0  35.0
Asian-Pac-Islander Female    517.0  35.657640  12.637799  17.0  25.0  34.0
                   Male     1002.0  38.994012  12.824878  18.0  29.0  37.0
Black              Female   2308.0  37.905979  12.736001  17.0  28.0  36.0
                   Male     2377.0  37.922592  13.036981  17.0  28.0  36.0
Other              Female    155.0  31.212903  11.233061  17.0  23.0  29.0
                   Male      251.0  35.167331  11.808297  17.0  26.0  32.0
White              Female  13027.0  36.882935  14.454178  17.0  25.0  35.0
                   Male    28735.0  39.704507  13.475250  17.0  29.0  38.0

                            75%   max
race               sex
Amer-Indian-Eskimo Female  46.0  80.0
                   Male    44.0  82.0
Asian-Pac-Islander Female  44.0  81.0
                   Male    46.0  90.0
Black              Female  46.0  90.0
                   Male    46.0  90.0
Other              Female  37.0  74.0
                   Male    42.5  77.0
White              Female  47.0  90.0
                   Male    49.0  90.0
MAX age of men of Amer-Indian-Eskimo: 82

In [31]:
#8. Among whom is the proportion of those who earn a lot (>50K) greater: married or single men (marital-status feature)? Consider as married those who have a marital-status starting with Married (Married-civ-spouse, Married-spouse-absent or Married-AF-spouse), the rest are considered bachelors.

men = data[data['sex'] == 'Male'].copy()
men['is_married'] = men['marital-status'].str.startswith('Married')

prop_married = men[men['is_married']]['income'].eq('>50K').mean()
prop_single = men[~men['is_married']]['income'].eq('>50K').mean()

print(">50K married:", prop_married)
print(">50K single:", prop_single)

>50K married: 0.29478626142821845
>50K single: 0.056141763995167134

In [38]:
#9. What is the maximum number of hours a person works per week (hours-per-week feature)? How many people work such a number of hours, and what is the percentage of those who earn a lot (>50K) among them?

max_h = data['hours-per-week'].max()
people_max = data[data['hours-per-week'] == max_h]
count_max = len(people_max)
percent_high = (people_max['income'] == '>50K').mean() * 100

print("MAX hours/week:", max_h)          
print("People work such a number of hours:", count_max)                      
print("% of those who earn >50K among them:", percent_high)

MAX hours/week: 99
People work such a number of hours: 137
% of those who earn >50K among them: 18.248175182481752

In [37]:
#10. Count the average time of work (hours-per-week) for those who earn a little and a lot (salary) for each country (native-country). What will these be for Japan?

japan_h = data[data['native-country'] == 'Japan'].groupby('income')['hours-per-week'].mean()

print("Japan <=50K:", japan_h['<=50K'])      
print("Japan >50K :", japan_h['>50K'])

Japan <=50K: 41.0
Japan >50K : 47.958333333333336